* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(197, 85, 160);
    color: white;
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(246,226,222);
    padding: 10px;
    height: 100px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
}

.nav__section {
    width: 50%;
    height: 160px;
    text-align: center;
}

.nav__link {
    background-image: url('./cukierki1.png');
    padding-right: 70px;
    font-size: 1.5rem;
    padding-bottom: 150px;
}

.nav__logo {
    height: 160px;
    cursor: pointer;
}

td, table {
    border: 2px solid blue;
    margin: 20px;
    padding: 10px;
}

 .main__left {
    text-align: center;
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer {
    width: 100%;
    background-color: rgb(246,226,222);
    padding: 10px;
    height: 100px;
    color: black;
    text-align: center;
    position: absolute;
    bottom: 0;
}